@import "tailwindcss";

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
